In [158]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler

In [159]:
df = pd.read_csv("energydata_complete.csv")
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

## Question 17

In [160]:
x = df["T2"].values.reshape(-1, 1)
y = df["T6"].values
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, train_size=0.8, random_state=1)

In [161]:
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
round(rmse, 3)

3.651

## Question 18

In [162]:
from sklearn.metrics import mean_absolute_error
new_df = df.drop(columns=["date", "lights"])


X = new_df.drop(columns=["Appliances"])
y = new_df["Appliances"]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

model = LinearRegression()
model.fit(X_train, y_train)

y_train_pred = model.predict(X_train)

mae_train = mean_absolute_error(y_train, y_train_pred)

round(mae_train, 3)

53.742

## Question 19

In [163]:
from sklearn.metrics import mean_squared_error
import numpy as np

rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))

round(rmse_train, 3)

95.216

## Question 20

In [164]:
y_test_pred = model.predict(X_test)


mae_test = mean_absolute_error(y_test, y_test_pred)

round(mae_test, 3)

53.641

## Question 21

In [165]:
from sklearn.metrics import mean_squared_error

y_test_pred = model.predict(X_test)

rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))

round(rmse_test, 3)

93.637

## Question 23

In [166]:
from sklearn.linear_model import Ridge

ridge_model = Ridge()
ridge_model.fit(X_train, y_train)

y_test_pred_ridge = ridge_model.predict(X_test)

rmse_test_ridge = np.sqrt(mean_squared_error(y_test, y_test_pred_ridge))

rmse_test, rmse_test_ridge

(93.63744917343361, 93.7087747764201)

## Question 25

In [167]:
from sklearn.linear_model import Ridge

ridge_model = Ridge()
ridge_model.fit(X_train, y_train)

y_test_pred_ridge = ridge_model.predict(X_test)

rmse_test_ridge = np.sqrt(mean_squared_error(y_test, y_test_pred_ridge))

round(rmse_test_ridge, 3)

93.709